.activebtn {
    background: #3c44b1;
    color: white;
    border-color: white;
}

.inactivebtn {
    background: #ffffff;
    color: #3c44b1;
    border-color: #3c44b1;
}

.btn-primary {
    color: #3c44b1 !important;
    background-color: #ffffff !important;
    border-color: #3c44b1 !important;
}

.active.btn-primary {
    color: #ffffff !important;
    background-color: #3c44b1 !important;
    border-color: #3c44b1 !important;
}

/* .app-sidebar-logo--icon img {
     width: 26px !important;   
     margin: 0 auto;
     animation: none !important; 
 } */

.preloader_bg2 {
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.preloader_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader_img img {
    width: 80px;
    animation: loader linear 0.8s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.app-sidebar--content {
    overflow-y: auto;
    overflow-x: visible;
}

.sidebar-navigation ul li {
    display: flex;
    margin: 0;
    flex-direction: column;
    position: relative;
    /* padding: 1px 0; */
}

.sidebar-navigation ul li>a {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    height: 44px;
    padding: 0 1.5rem;
    font-size: 1.06rem;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-navigation ul li>a:hover {
    text-decoration: none;
}

.app-sidebar-fixed .app-sidebar {
    position: fixed;
    left: 0;
}

.app-sidebar-fixed .app-content {
    padding-left: 320px;
}

.app-sidebar-fixed.app-sidebar-collapsed .app-content {
    padding-left: 80px;
}

.app-content--inner {
    display: flex;
    flex: 1 1;
}

.app-content--inner__wrapper {
    display: block;
    width: 100%;
}

.app-header {
    height: 74px;
    padding: 0 1rem;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1111;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.app-header--pane {
    display: flex;
    align-items: center;
}

.app-header .toggle-mobile-sidebar-btn {
    display: none;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.15rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.29rem;
}

.app-header-menu {
    position: relative;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    visibility: visible;
    transition-delay: 0.2s;
}

.input-group-seamless .input-group-append,
.input-group-seamless .input-group-prepend {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 40px;
    padding: 0 !important;
    z-index: 5;
}

.input-group-seamless .input-group-append {
    position: absolute;
    right: 0;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-seamless .input-group-text {
    background: transparent;
    border-color: transparent;
    padding: 0 !important;
    width: 100%;
    text-align: center;
    height: 100%;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.53rem 1.3rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3b3e66;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9ff;
    border: 1px solid #d1d2db;
    border-radius: 0.29rem;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
    position: relative;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn-secondary {
    box-shadow: 0 0.25rem 0.55rem rgba(248, 249, 255, 0.35);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #3b3e66;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0.53rem 1.3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.29rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.font-size-md {
    font-size: 1rem;
}

.nav-line-alt .nav.nav-line .nav-item .nav-link {
    padding: 0 0 1rem;
    margin: 0;
}

.nav-line-alt .nav.nav-line .nav-item .nav-link .divider {
    z-index: 8;
    left: 0;
    width: 100%;
}

.nav.nav-line .nav-item .nav-link.active .divider {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.nav.nav-line .nav-item .nav-link .divider {
    width: 34px;
    border-radius: 0.75rem;
    height: 3px;
    background: #3c44b1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 1rem;
    bottom: 0;
}

.nav.nav-line .nav-item .nav-link {
    color: #a6a6b9;
    position: relative;
    transition: all 0.2s ease-in-out;
    padding: 0 1rem 1rem;
    background: transparent;
}

.nav .nav-item .nav-link.active,
.nav .nav-item .nav-link:hover {
    background: #f4f5fd;
    color: #3c44b1;
}

.nav.not_pulic_pad .nav-item .nav-link.active,
.nav.not_pulic_pad .nav-item .nav-link:hover {
    background: none;
}

.nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    align-content: center;
    background: transparent;
    color: #7a7b97;
    transition: all 0.2s ease-in-out;
    margin: 1px 0;
}

.app-sidebar-overlay {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 9, 25, 0.4);
    z-index: 1113;
}

.app-sidebar--header {
    padding: 0 1.5rem;
    min-height: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.75rem;
}

.app-sidebar--header .expand-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-sidebar--header .expand-sidebar-btn {
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    line-height: 34px;
    margin: -18px -18px 0 0;
    top: 50%;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.app-footer {
    height: 70px;
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    padding: 0 3rem;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    font-size: 0.875rem;
    justify-content: space-between;
}

.app-footer:hover {
    background: #fff;
}

@media (min-width: 1100px) {
    .app-header-fixed .app-header {
        position: fixed;
        left: 320px;
        right: 0;
        margin-left: 0;
    }

    .app-header-fixed.app-sidebar-collapsed .app-header {
        left: 80px;
    }

    .app-header-fixed .app-content {
        padding-top: 80px;
    }

    .app-sidebar-collapsed .app-sidebar {
        width: 100px;
        position: fixed;
        left: 0;
        display: flex;
    }

    .app-sidebar-collapsed .app-sidebar:hover:not(.app-sidebar--mini) {
        width: 320px;
        position: fixed;
        box-shadow: 0.46875rem 0 2.1875rem rgba(59, 62, 102, 0.03), 0.9375rem 0 1.40625rem rgba(59, 62, 102, 0.03), 0.25rem 0 0.53125rem rgba(59, 62, 102, 0.05), 0.125rem 0 0.1875rem rgba(59, 62, 102, 0.03);
    }

    .app-sidebar-collapsed .app-sidebar .collapse-sidebar-btn {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .app-sidebar-collapsed .app-sidebar:not(.app-sidebar--mini):hover .app-sidebar--header .expand-sidebar-btn {
        visibility: visible;
    }

    .app-sidebar-collapsed .app-sidebar:hover .app-sidebar--header .expand-sidebar-btn {
        opacity: 1;
    }
}

@media (max-width: 1380.98px) {
    .app-sidebar-overlay.is-active {
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: 100%;
    }
}